---
---

<html>
<head>
    <title>Test Callback</title>
</head>
<body>
    <h1>Test Callback Works!</h1>
    <p>If you see this, the routing is working.</p>
    <a href="/auth/login">Back to login</a>
</body>
</html>